<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1>Events for {{events.events.event[0].city_name}}</h1>
  <p class="lead">
    <div ng-init="location='Seattle'">
      <p>
        <label for="location">Location:
          <input type="text" name="location" ng-model="location">
        </label>
      </p>
      <p>
        <button class="btn" ng-click="refreshCurrent()">Get events</button>
      </p>
      <dl>
        <dt>Events for</dt>
        <dd>{{events.name}}</dd>
        <dt>Event Title:</dt>
        <dd>{{events.event[0].title}}</dd>
      </dl>
    </div>
  </p>
</div>
